doctype html(lang='en')
head
    meta(charset='utf-8')
         
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
         
    meta(name='description', content='UCLA Radio')
         
    meta(name='viewport', content='width=device-width, initial-scale=1')
         
    title UCLA Radio
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    // bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
         
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    // font awesome
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    // other fonts
    link(href='http://fonts.googleapis.com/css?family=Lato:300italic', rel='stylesheet', type='text/css')
         
    link(href='http://fonts.googleapis.com/css?family=Merriweather:300', rel='stylesheet', type='text/css')
    // trianglify, for background stuff
    script(src='http://d3js.org/d3.v3.min.js')
         
    script(src='http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.4/trianglify.min.js')
    // Our stylesheets/scripts
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/newBlurb.css')
    link(rel='stylesheet', type='text/css', href='css/schedule.css')
    link(rel='icon', href='favicon.ico', type='image/x-icon')


    ///////
    //font
    //////
    link(rel='stylesheet', type='text/css', href='css/font.css')

    ////////////////////////////////////////////////
    ///files for this page exclusively
    ////////////////////////////////////////////////
    link(rel='stylesheet', type='text/css', href='css/TicketGiveawayCalendar.css')

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-21406547-20', 'auto');
      ga('send', 'pageview');

  body
  
    .container(role='main')
      a(href='/')
        img#logo(src='img/logo.png', alt='UCLA RADIO')

      ul
       each Month in eventsByMonth
          li#Month=Month.month
          ul#events
            each event in Month.arr
                li
                  .Artist
                    | #{" " + event.summary.split("@")[0]}  
                  
                  .Venue
                    if(event.start.getDate()%10==1)
                       | #{event.start.getDate()}
                       sup st
                    else if(event.start.getDate()%10==2)
                       | #{event.start.getDate()}
                       sup nd
                    else if(event.start.getDate()%10==3)
                       | #{event.start.getDate()}
                       sup rd
                    else
                       | #{event.start.getDate()}
                       sup th
                    if(event.summary.split("@").length > 1)
                      | #{event.summary.split("@")[1].substring(0,event.summary.split("@")[0].length)}


          hr
            



      .footer
        br
        .row
          span#links-container.col-xs-12.col-sm-12.col-lg-9
            a.bott-button.pop-button(target='_blank', role='button', href='http://uclaradio.tumblr.com/') BLOG

            a.bott-button.pop-button(target='_blank', role='button', href='http://www.last.fm/user/uclaradio') PLAYS

            a.bott-button.pop-button(target='_blank', role='button', href='/shows') SHOWS

            a.bott-button.pop-button(target='_blank', role='button', href='http://tunein.com/radio/UCLA-Radio-s2652/') TUNEIN

          span#social.col-xs-12.col-sm-12.col-lg-3
            a.pop-button.facebook(href='https://www.facebook.com/UCLARadio', target='_blank')
              i.fa.fa-facebook-square.fa-2x

            a.pop-button.instagram(href='http://instagram.com/UCLARadio', target='_blank')
              i.fa.fa-instagram.fa-2x

            a.pop-button.twitter(href='https://twitter.com/UCLAradio', target='_blank')
              i.fa.fa-twitter-square.fa-2x



script(src='js/newBlurb.js')
